<section class="hero is-small">
  <div class="hero-body">
    <h1 class="barlow-condensed-bold is-size-2">Hey, <span class="has-text-primary"><%= @user.first_name %></span>!</h1>
    <span class="subtitle">Here's what's due today:</span>
  </div>
  <div class="section">
    <div class="fixed-grid">
      <div class="grid">
        <% DailyTask.priorities.each do |priority| %>
          <%= render partial: "goal_box_cell", locals: { priority: priority[0].to_sym, tasks: @daily_tasks.where(priority: DailyTask.priorities[priority[0]] ) } %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="buttons">
    <%= link_to "Add new task", new_daily_task_path, class: "button is-primary" %>
  </div>
</section>