<section class="section">
  <h1 class="title barlow-condensed-bold is-size-2">Let's get some thoughts out, <span class="has-text-primary"><%= @user.name %></span></h1>
</section>

<section class="section">
  <div class="buttons">
    <%= link_to "Create a journal entry", new_journal_entry_path, class: "button is-primary" %>
  </div>
</section>