<div class="section">
  <div class="hero">
    <h1 class="is-size-2 barlow-condensed-bold">Welcome, <span class="has-text-primary"><%= @user.name %>!</span></h1>
    <span class="subtitle has-text-warning">This is your personal page. From here, you can track goals, navigate between features, and eventually configure it how you need.</span>
  </div>
</div>

<i class="fa-solid fa-flag"></i>
<i class="fa-brands fa-amazon"></i>
<i class="fa-regular fa-bell"></i>