<%= javascript_include_tag "pomodoro" %>
<section class="block">
  <div class="hero">
    <div class="hero-body">
      <h1 id="pomodoro_time" class="title barlow-condensed-bold">25:00</h1>
      <h2 id="pomodoro_status" class="subtitle barlow-condensed-semibold">Active</h2>
      <button onclick="startPomodoroTimer();" class="button is-primary">Start</button>
      <button onclick="stopPomodoroTimer();" class="button is-warning">Stop</button>
    </div>
  </div>
</section>