<%= javascript_include_tag "pomodoro" %>
<section class="block">
  <div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column is-half">
      <div class="container is-flex is-justify-content-center">
        <div class="hero">
          <div class="hero-body">
            <h1 class="title is-size-1 barlow-condensed-bold">Pomodoro Timer</h1>
            <div class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
              <h2 id="pomodoro_time" class="title barlow-condensed-bold">25:00</h2>
              <h3 id="pomodoro_status" class="subtitle barlow-condensed-semibold">Active</h3>
              <div class="buttons">
                <button onclick="startPomodoroTimer();" class="button is-primary">Start</button>
                <button onclick="stopPomodoroTimer();" class="button is-warning">Stop</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter"></div>
</section>