<%= turbo_frame_tag "err_messages" do %>
  <div class="section">
    <% messages&.each do |message| %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>