<%= turbo_stream.replace "gym_lifts" do %>
  <%= render partial: "success_message", locals: { message: "Workout successfully edited." } %>
<% end %>
<%= turbo_stream.replace "workout_lifts" do %>
  <div></div>
<% end %>