<div id="icon_picker_modal_<%= index %>" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box animate__animated animate__fadeIn">
      <div class="is-flex is-flex-direction-column">
        <h2 class="barlow-condensed-semibold is-size-4">Add icon:</h2>
        <div>
          <% fa_icon_samples.each do |icon_class| %>
              <button type="button" data-controller="onboarding" data-action="onboarding#update_icon_input" data-onboarding-index="<%= index %>" class="button m-2" style="width: 30px !important;">
                <i class="<%= icon_class %>"></i>
              </button>
          <% end %>
        </div>
      </div>

      <!-- Your content -->
    </div>
  </div>

  <button type=button class="modal-close is-large" aria-label="close"></button>
</div>
