<div data-controller="modals" id="icon_picker_modal_<%= index %>" class="modal">
  <div data-action="click->modals#close_modal" class="modal-background"></div>
  <div class="modal-content">
    <div class="box animate__animated animate__fadeIn">
      <div class="is-flex is-flex-direction-column">
        <h2 class="barlow-condensed-semibold is-size-4">Add icon:</h2>
        <div>
          <!-- The problem is this object that's being accessed through stimulus -->
          <!-- If we use a new controller, it turns into a challenge -->
          <!-- If not, then it's weird to update the hidden field -->
          <!-- The solution is = bind the controller to this button -->
          <!-- Then, call vanilla JS to update the hiddenField with that index -->
          <% fa_icon_samples.each do |icon_class| %>
              <button type="button"
                data-controller="onboarding--track"
                data-action="onboarding--track#update_icon_input"
                data-onboarding--track-index-value="<%= index %>"
                data-onboarding--track-target="iconClass"
                class="button m-2"
                style="width: 30px !important;"
              >
                <i class="<%= icon_class %>"></i>
              </button>
          <% end %>
        </div>
      </div>

      <!-- Your content -->
    </div>
  </div>

  <button data-action="click->modals#close_modal" type=button class="modal-close is-large" aria-label="close"></button>
</div>
