<%= turbo_page_requires_reload %>
<div class="section">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half">
        <h2 class="is-size-2 title">Sign up</h2>
        <%= render partial: "login_form", locals: { page_type: :sign_up, user: @user } %>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
</div>