<% if priority == :is_urgent_and_important %>
  <div id="urgent_and_important" class="cell box bulma-huge-box">
    <div class="is-flex">
      <h2 class="barlow-condensed-semibold is-size-3">Urgent/Important:</h2>
      <button class="button is-primary ml-auto">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <% if tasks.present? %>
      <div class="grid">
        <div class="cell"><h3>Title:</h3></div>
        <div class="cell"><h3>Goal:</h3></div>
        <div class="cell">Action:</div>
      </div>
      <% tasks.each do |task| %>
        <%= render partial: "single_task_view", locals: { daily_task: task } %>
      <% end %>
    <% else %>
      <span>No tasks found.</span>
    <% end %>
  </div>
<% elsif priority == :is_not_urgent_and_important %>
  <div id="not_urgent_and_important" class="cell box bulma-huge-box">
    <div class="block is-flex">
      <h2 class="barlow-condensed-semibold is-size-3">Not urgent/Important:</h2>
      <button class="button is-primary ml-auto">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <% if tasks.present? %>
      <div class="grid block">
        <div class="cell"><h3>Title:</h3></div>
        <div class="cell"><h3>Goal:</h3></div>
        <div class="cell">Action:</div>
      </div>
      <div class="grid">
        <div class="cell"><h3>Title:</h3></div>
        <div class="cell"><h3>Goal:</h3></div>
        <div class="cell">Action:</div>
      </div>
      <% tasks.each do |task| %>
        <%= render partial: "single_task_view", locals: { daily_task: task } %>
      <% end %>
    <% else %>
      <span>No tasks found.</span>
    <% end %>
  </div>
<% elsif priority == :is_urgent_and_not_important %>
  <div id="urgent_and_not_important" class="cell box bulma-huge-box">
    <div class="block is-flex">
      <h2 class="barlow-condensed-semibold is-size-3">Urgent/Not important:</h2>
      <button class="button is-primary ml-auto">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="grid">
      <div class="cell"><h3>Title:</h3></div>
      <div class="cell"><h3>Goal:</h3></div>
      <div class="cell">Action:</div>
    </div>
    <% if tasks.present? %>
      <% tasks.each do |task| %>
        <%= render partial: "single_task_view", locals: { daily_task: task } %>
      <% end %>
    <% else %>
      <span>No tasks found.</span>
    <% end %>
  </div>
<% else %>
  <div id="not_urgent_and_not_important" class="cell box bulma-huge-box">
    <div class="is-flex block">
      <h2 class="barlow-condensed-semibold is-size-3 block">Not urgent/Not important:</h2>
      <button class="button is-primary ml-auto">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <% if tasks.present? %>
      <% tasks.each do |task| %>
        <%= render partial: "single_task_view", locals: { daily_task: task } %>
      <% end %>
    <% else %>
      <span>No tasks found.</span>
    <% end %>
  </div>
<% end %>