<%= turbo_page_requires_reload %>
<section class="section">
  <%= render partial: 'saga_form', locals: { saga: @saga } %>
  <%= render partial: "layouts/error_messages", locals: { messages: [] } %>
  <script type="text/javascript">
      const quill = new Quill('#editor', {
         theme: 'snow'
      });

      const contentInput = document.getElementById("saga_content");
      quill.on('text-change', () => {
         contentInput.value = quill.getSemanticHTML();
      });
  </script>
</section>