<%= turbo_page_requires_reload %>
<section class="hero is-small">
  <div class="hero-body">
    <h1 class="barlow-condensed-bold is-size-2">Let's create a saga together, <span class="has-text-primary"><%= @user.first_name %></span></h1>
  </div>
</section>
<section class="section">
  <%= render partial: "sagas/saga_form", locals: { user: @user, saga: @saga } %>
</section>
<%= render partial: "layouts/error_messages", locals: { messages: [] } %>